@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: #fd4a2b;
}

section {
    width: 100%;
    position: relative;
}

.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2vw 6vw;
    background: #fd4a2b;
    z-index: 100;
}

.logo {
    width: 140px;
    max-width: 140px;
}

.logo img {
    width: 100%;
}

.menu_items {
    display: flex;
    margin: auto 0;
}

.menu_items li {
    list-style: none;
    margin: 0 1.5vw;
}

.menu_items li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 1.5vw;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.menu_items li:hover a {
    color: #000;
    letter-spacing: 2px;
    transform: translateY(-4px);
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text_container {
    width: 50%;
    padding-left: 5rem;
    padding-top: 5rem;
}

.text_container h2 {
    font-size: 10vw;
    font-weight: 700;
    line-height: 10vw;
    text-transform: capitalize;
}

.text_container h2::first-line {
    color: #fff;
    letter-spacing: 5px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.text_container h5 {
    color: #fff;
    font-size: 2vw;
    font-weight: 300;
    text-align: left;
    margin-top: 20px;
    margin-right: 10vw;
    text-transform: capitalize;
}

.text_container p {
    font-size: 1vw;
    font-weight: 400;
    color: #f2f2f2;
    margin-top: 30px;
}

.text_container .btn {
    display: inline-block;
    color: #222;
    background: #fff;
    margin-top: 2vw;
    font-size: 1.5vw;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 6px 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.6s ease;
    border-radius: 0 12px 0 12px;
    border: 2px solid transparent;
}

.text_container .btn:hover {
    letter-spacing: 3px;
    padding: 6px 18px;
    border-radius: 12px 0 12px 0;
    border-color: #fff;
    background: #fd4a2b;
    color: #fff;
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: relative;
}

.imgBox {
    position: relative;
    min-width: 70vh;
    margin-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(3vh);
    z-index: 1;
}

.imgBox img {
    max-width: 380px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icons {
    position: fixed;
    top: 50%;
    right: -15vw;
    transform: translateY(-50%);
}

.icons .fa {
    width: 20vw;
    padding: 1vw;
    font-size: 2.5vw;
    cursor: pointer;
    background: #fff;
    transition: all 0.5s ease-in-out;
}

.icons .fa:hover {
    color: #fd4a2b;
    transform: translateX(-8vw);
}

.icons .fa span {
    position: relative;
    font-size: 1.8vw;
    bottom: 0.3vw;
    margin-left: 1.8vw;
}

/** animation **/

.animblob {
    position: absolute;
    top: 54%;
    left: 40%;
    height: 30vw;
    width: 30vw;
    transform: translate(-50%, -50%);
    background: #fff;
    animation: animate_blob 8s linear infinite;
}

@keyframes animate_blob {
    0%, 100% {
        border-radius: 45% 55% 76% 35% / 76% 30% 90% 40%;
    }
    25% {
        border-radius: 55% 45% 30% 35% / 50% 30% 60% 10%;
    }
    50% {
        border-radius: 65% 35% 34% 65% / 40% 60% 30% 70%;
    }
    75% {
        border-radius: 35% 65% 60% 40% / 70% 30% 40% 60%;
    }
}

















